#paint_area {
    width: 1000px;
    height: 800px;
}

#instrument_panel {
    width: 400px;
    height: 800px;
    background-color: gainsboro;
}

#instrumnet_and_paint_wrapper {
    display: flex;
}