<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <link rel="stylesheet" type="text/css" th:href = "@{/css/style.css}">
    <script type="text/javascript" th:src="@{/jQuery.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <div id = "instrumnet_and_paint_wrapper">
        <div id = "paint_area" th:fragment = "paint_fragment">
            <canvas width='1000' height='800'  id="canvas">Обновите браузер</canvas>
        </div>

        <div id = "instrument_panel">
            <button onclick="operationType = 1" >Вершины</button>
            <button onclick="operationType = 2" >Выбрать</button>
            <button onclick="connectVertexes()" >Соединить</button>

            <div id = "vizualization_div">
                <button > Старт </button>
                <button > <- </button>
                <span th:text="${'1/1'}"> </span>
                <button onclick=""> -> </button>
            </div>

        </div>
    </div>
</body>

<script>

    vertexMaxId = 0;
    vertexRadius = 20;
    vertexArray = [];
    linesArray = [];
    selectedVertexesNumbers = 0;

    firstSelectedVertex = null;
    secondSelectedVertex = null;

    class Point {
        x = 0;
        y = 0;
        constructor(x, y) {
            this.x = x;
            this.y = y;
        }
    }

    class Vertex {
        id = 0;
        x = 0;
        y = 0;
        selected = false;
        constructor(x, y) {
            this.id = vertexMaxId + 1;
            this.x = x;
            this.y = y;
            vertexMaxId ++;
        }
    }

    class Line {
        coordinate1;
        coordinate2;
        constructor(point1, point2) {
            this.coordinate1 = point1;
            this.coordinate2 = point2;
        }
    }


    var canvas = document.getElementById("canvas");
    ctx = canvas.getContext("2d");

    backgroudColor = 'aliceblue';
    ctx.fillStyle = backgroudColor;
    ctx.fillRect(0 ,0 , canvas.width, canvas.height);


    operationType = 1; // 1 - создать, 2 - выбрать

    function drawAllVertexes(){

        if (vertexArray !== null)
            vertexArray.forEach(function(vertex) {

                if (vertex.selected)
                    ctx.fillStyle = 'blueviolet';
                else
                    ctx.fillStyle = 'green';

                ctx.beginPath();
                ctx.arc(vertex.x, vertex.y, vertexRadius, 0, 2 * Math.PI, false);
                ctx.stroke();
                ctx.fill();

                ctx.font = "14px serif";
                ctx.fillStyle = 'white';
                ctx.fillText(vertex.id, vertex.x, vertex.y);
            })


    }

    function drawAllLines(){

        if (linesArray !== null)
            linesArray.forEach(function(line) {

                ctx.fillStyle = 'black';

                ctx.beginPath();
                ctx.moveTo(line.coordinate1.x, line.coordinate1.y);
                ctx.lineTo(line.coordinate2.x, line.coordinate2.y);
                ctx.stroke();

            })


    }

    function setSelectedFalseForAllVertexes(){
        if (vertexArray !== null)
            vertexArray.forEach(function(vertex) {
                vertex.selected = false;
            })
    }

    function draw() {
        drawAllVertexes();
        drawAllLines();
    }

    function connectVertexes(){
            if (selectedVertexesNumbers !== 2) {
                alert("Выбрано не 2 вершины!");
                firstSelectedVertex = null;
                secondSelectedVertex = null;
                setSelectedFalseForAllVertexes();
                selectedVertexesNumbers = 0;
                draw();
            }
            else {
                alert(firstSelectedVertex.id + " ---> " + secondSelectedVertex.id);

                linesArray.push(new Line(new Point(firstSelectedVertex.x, firstSelectedVertex.y),
                new Point(secondSelectedVertex.x, secondSelectedVertex.y)));

                firstSelectedVertex = null;
                secondSelectedVertex = null;
                setSelectedFalseForAllVertexes();
                selectedVertexesNumbers = 0;
                draw();
            }

    }

    function clickOnPaintArea(event){
        x = event.offsetX;
        y = event.offsetY;

        if (operationType === 1) {
            vertexArray.push(new Vertex(x, y));
        }

        if (operationType === 2) {

            if (vertexArray !== null)
                vertexArray.forEach(function(vertex) {
                    if (((vertex.x - x) * (vertex.x - x) + (vertex.y - y) * (vertex.y - y)) <= vertexRadius * vertexRadius) {
                        if (vertex.selected) {
                            selectedVertexesNumbers --;
                            vertex.selected = false;
                        }
                        else {
                            selectedVertexesNumbers ++;
                            vertex.selected = true;

                            if (firstSelectedVertex !== null)
                                secondSelectedVertex = vertex;

                            if (firstSelectedVertex === null)
                                firstSelectedVertex = vertex;
                        }
                    }

                })
        }

        draw();
    }

    document.querySelector("#canvas").addEventListener("click", clickOnPaintArea);


</script>

</html>